/*
Global Variables
Contents:

1.  Imports
2.  Colour variables
3.  Environment variables
4.  Theme colours
5.  Radii and other global css3 style properties
6.  Link colours
7.  Tables
8.  Max page widths applied to container elements
*/

/*
1.  Imports
*/

@import "var-breakpoints";

/*
2.  Colour variables
Put the colours from the design here. When naming your colours
be sure to use  http://chir.ag/projects/name-that-color to get
a proper colour name
*/

$color-bunker: #131a21;
$color-carnation: #fc5f5e;
$color-ebony-clay: #212e3a;
$color-fountain-blue: #59c3bc;
$color-gallery: #efefef;
$color-mercury: #e5e5e5;
$color-pickled-bluewood: #354a5e;
$color-red-ribbon: #e9004c;
$color-revolver: #3d1c42;
$color-ronchi: #eeca44;
$color-sushi: #94b541;
$color-tree-poppy: #fd911e;

/*
3.  Environment variables
Environment variables. Note some projects put all css into assets,
so the path needs to be able to find the css from there
*/

$theme-name: 'default';
$file-path: "../../../themes/"+$theme-name;
$image-path: $file-path + "/images/";

$base-font-size: 16px;

$font: 'helvetica neue', helvetica, arial, sans-serif;
$font-medium: 'helvetica neue', helvetica, arial, sans-serif;
$font-bold: 'helvetica neue', helvetica, arial, sans-serif;
$font-italic: 'helvetica neue', helvetica, arial, sans-serif;

$font-heading: times, serif;
$font-heading--alt: helvetica, arial, sans-serif;
$font-heading-weight: 700;

/*
4.  Theme colours
Make sure that the colours assigned here are assigned using the
colour variables above
*/

$default-color: $color-gallery;
$primary-color: $color-red-ribbon;
$secondary-color: $color-pickled-bluewood;
$success-color: $color-sushi;
$error-color: $color-carnation;
$warning-color: $color-ronchi;

$body-bg: $default-color;
$font-color: $color-bunker;

$link-color: darken($secondary-color, 20%);
$link-hover-color: lighten($link-color, 10%);
$link-visited-color: darken($link-color, 10%);

/*
5.  Radii and other global css3 style properties
*/

$button-radius: 3px;

/*
6.  Link colours
Make sure that the colours assigned here are assigned using the
colour variables above
*/

// Menu bar
$menu-color: $primary-color;
$menu-link-color: white;
$menu-link-hover-color: white;
$menu-link-hover-background-color: darken($primary-color, 15%);

// Footer
$footer-color: $menu-color;
$footer-link-color: $menu-link-color;
$footer-link-hover-color: $menu-link-hover-color;
$footer-link-hover-background-color: $menu-link-hover-background-color;

/*
7.  Tables
*/

$table-header-font-family: $font;
$table-bgcolor: white;
$table-thead-color: $font-color;
$table-thead-bgcolor: $default-color;
$table-border-size: 1px;
$table-border-style: solid;
$table-border-color: $color-mercury;
$table-cell-border-size: 1px;
$table-cell-border-color: $color-mercury;
$table-cell-border-style: solid;

/*
8.  Max page widths applied to container elements
*/

$container-width: 1200px;
$max-device-width: 2880px;
$gutter: 30px;

/*
# Colours - primary palette

SectionTemplate: BenManu/StyleGuide/Includes/SGColorPalette

$brand-blue - #212E3A;
$brand-yellow - #EECA44;
$brand-red - #FC5F5E;
$brand-teal - #59C3BC;


Styleguide 1.1
*/

/*
# Colours - secondary palette

SectionTemplate: BenManu/StyleGuide/Includes/SGColorPalette

$brand-default - #EFEFEF;
$brand-purple -  #3D1C42;
$brand-pink -  #E9004C;
$brand-orange -  #FD911E;
$brand-green -  #94B541;
$brand-blue-dark -  #131A21;
$brand-blue-light - #354A5E;

Styleguide 1.1.1
*/

/*
## Font Test

<div class="test">
	<h3>Default</h3>

	<p style="font-size:10px">10px the quick brown fox jumps over the lazy dog ĀāĒēĪīŌōŪū THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG 0123456789 !@#$%^&*()?"':;,.</p>
	<p style="font-size:15px">15px the quick brown fox jumps over the lazy dog ĀāĒēĪīŌōŪū THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG 0123456789 !@#$%^&*()?"':;,.</p>
	<p style="font-size:20px">20px the quick brown fox jumps over the lazy dog ĀāĒēĪīŌōŪū THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG 0123456789 !@#$%^&*()?"':;,.</p>
	<p style="font-size:30px">30px the quick brown fox jumps over the lazy dog ĀāĒēĪīŌōŪū THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG 0123456789 !@#$%^&*()?"':;,.</p>
	<p style="font-size:40px">40px the quick brown fox jumps over the lazy dog ĀāĒēĪīŌōŪū THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG 0123456789 !@#$%^&*()?"':;,.</p>
</div>

Styleguide 1.2.4
*/
